*{
    margin:0;
    padding:0;
}

body{
    width:98%;
    height:100%;
    background:transparent;
}

.all{
    background:whitesmoke;
    width:80%;
    min-height:500px;
    margin:0% auto;
    z-index:0;
}

.header{
    background: #1d1d1d;
    width:78.5%;
    height:65px;
    position:fixed;
    z-index:5;
}

.container{
    background:transparent;
    width:100%;
    min-height:440px;
    display:flex;
    justify-content:space-between;
    z-index:0;
}


